body{
    color: green;
}
div{
    border: 1px solid black;
width: 580px;
height: 740px;
background-color: black;
border-radius: 30px;
}
.box{
    border: 1px solid red;
    width: 200px;
    height: 200px;
    background-color: red;
    border-radius: 100px;
    margin: auto;
}
.san{
    border: 1px solid rgb(170, 255, 0);
    width: 200px;
    height: 200px;
    background-color: rgb(246, 255, 0);
    border-radius: 100px;
    margin: auto;
}
.da{
    border: 1px solid rgb(17, 255, 0);
    width: 200px;
    height: 200px;
    background-color: rgb(68, 255, 0);
    border-radius: 100px;
    margin: auto;
}